# STM32F469I-DISCO board configuration

# Copyright (c) 2016 Linaro Limited.
# SPDX-License-Identifier: Apache-2.0

config BOARD_CUCKOO_DVB_EARPHONE
	bool "CUCKOO DVB EARPHONE Development Board"
	depends on SOC_CUCKOO
