# Kconfig - FM DRV configuration options

#
# Copyright (c) 2015 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

#
# FM DRV options
#

config FM_RDA5807
	bool "fm RDA5807 module support"
	depends on FM
	default n
	help
	  enable actions fm RDA5807
